<!DOCTYPE html>
<html>
<body>

<h2>File Upload</h2>

<form action="http://localhost:8080/files/upload" method="post" enctype="multipart/form-data">
  <label for="file">Choose file:</label><br>
  <input type="file" id="file" name="file"><br><br>
  <input type="submit" value="Upload">
</form>

<h2>File Download</h2>

<form action="http://localhost:8080/files/download" method="get">
  <label for="filename">Enter filename:</label><br>
  <input type="text" id="filename" name="filename"><br><br>
  <input type="submit" value="Download">
</form>

</body>
</html>